/* .popular-category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
} */

.popular-category {
  text-align: center;
  border: 1px solid var(--menu-text-color);
  border-radius: 0.3rem;
  padding: 0.5rem 0rem;
}
.popular-category:hover {
  border: 1px solid var(--primary-color);
  transition: 1s;
}
.popular-category h5 {
  margin-top: 0.5rem;
}
