body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* --------------------------------COLOR VARIABLES----------------------- */
:root {
  --primary-color: #28b100;
  --menu-active-color: #ffffff;
  --menu-bg-color: #fcb800;
  --menu-text-color: #f1f1f1;
  --primary-font: 'Poppins', sans-serif;
  --profile-sidebar: #fcb80010;
  --sidebar-base-color: #28b10020;
  --btn-bg-color: #0b8b05;
  --btn-txt-color: #ffffff;
  --btn-bdr-color: #333333;
}
/* ---------------------------------TRANSITIONS VARIABLES------------------- */
:root {
  --vs-transition-timing-function: cubic-bezier(1,0.5,0.8,1);
  --vs-transition-duration: 0.15s;
}

header,
main,
footer {
  max-width: 100%;
  height: 100%;
}

/* -------------------------------------COMMON STYLE---------------------------------------------------- */

/* -----------------------------------------HEADER-PART-STYLE------------------------------------------- */
