.today-deals-container {
    background-color: #ffffff;
    padding: 1rem 0rem;
    /* margin-top: 2rem; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    border: 1px solid var(--menu-text-color);
    border-radius: 0.3rem;
    padding: 1rem;
  
  }

  .today-deals-container .today-deals-title {
    display: flex;
    justify-content: space-between;
  }
  .today-deals-title p:first-child {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  /* -------------------------POPULAR CATEGORIES----------------- */
  .today-deals {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  
  
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    .today-deals {
      grid-template-columns: repeat(2, 1fr);
    }
    /* .popular-category h5 {
      margin-top: 0.5rem;
    } */
    .today-deals-title p:first-child {
      font-size: 0.8rem;
      font-weight: bold;
    }
    .today-deals-title p:last-child {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
  
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    .today-deals {
      grid-template-columns: repeat(3, 1fr);
    }
  }